In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Working with text in pandas

In [2]:
sentence = ['Monday: Going to college at 10:30 am',
           'Tuesday: Going to job at 7:20 am',
           'Wednesday: At 8:20 am there is a cricket game',
           'Thursday: Be at home for 5:30 pm',
           'Friday: Going to school at 8:20 am and returning at 5:15 pm']
df = pd.DataFrame(sentence,columns=['Routine'])
df

                                             Routine
0               Monday: Going to college at 10:30 am
1                   Tuesday: Going to job at 7:20 am
2      Wednesday: At 8:20 am there is a cricket game
3                   Thursday: Be at home for 5:30 pm
4  Friday: Going to school at 8:20 am and returni...

Finding the number of character for each string in dataframe text.

In [3]:
df['Routine'].str.len()

0    36
1    32
2    45
3    32
4    59
Name: Routine, dtype: int64

Finding the number of tokens for each string in data frame.

In [4]:
df['Routine'].str.split().str.len()

0     7
1     7
2     9
3     7
4    12
Name: Routine, dtype: int64

Find which items contains word Going

In [5]:
df[df['Routine'].str.contains('Going')]

                                             Routine
0               Monday: Going to college at 10:30 am
1                   Tuesday: Going to job at 7:20 am
4  Friday: Going to school at 8:20 am and returni...

Find how many times the digits occures in the string

In [6]:
df['Routine'].str.findall('\d')

0          [1, 0, 3, 0]
1             [7, 2, 0]
2             [8, 2, 0]
3             [5, 3, 0]
4    [8, 2, 0, 5, 1, 5]
Name: Routine, dtype: object

Group and find the hours and minutes

In [7]:
df['Routine'].str.findall(r'(\d?\d):(\d\d)')

0            [(10, 30)]
1             [(7, 20)]
2             [(8, 20)]
3             [(5, 30)]
4    [(8, 20), (5, 15)]
Name: Routine, dtype: object

Replace week days with ***

In [8]:
df['Routine'].str.replace(r'\w+day\b', '***')

0                    ***: Going to college at 10:30 am
1                         ***: Going to job at 7:20 am
2              ***: At 8:20 am there is a cricket game
3                          ***: Be at home for 5:30 pm
4    ***: Going to school at 8:20 am and returning ...
Name: Routine, dtype: object

Replace week days with three letter abbribation

In [9]:
df['Routine'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0                    Mon: Going to college at 10:30 am
1                         Tue: Going to job at 7:20 am
2              Wed: At 8:20 am there is a cricket game
3                          Thu: Be at home for 5:30 pm
4    Fri: Going to school at 8:20 am and returning ...
Name: Routine, dtype: object

New column for first match of extracted columns

In [10]:
df['Routine'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0  10  30
1   7  20
2   8  20
3   5  30
4   8  20

Extract the entire time, the hours, the minutes, and the period

In [11]:
df['Routine'].str.extract(r'((\d?\d):(\d\d) ?([ap]m))')

          0   1   2   3
0  10:30 am  10  30  am
1   7:20 am   7  20  am
2   8:20 am   8  20  am
3   5:30 pm   5  30  pm
4   8:20 am   8  20  am

Extract the entire time, the hours, the minutes, and the period with group names

In [12]:
df['Routine'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0      10:30 am   10     30     am
1 0       7:20 am    7     20     am
2 0       8:20 am    8     20     am
3 0       5:30 pm    5     30     pm
4 0       8:20 am    8     20     am
  1       5:15 pm    5     15     pm